automation.log*
external/
.byebug_history
css
.DS_Store
env.rb
node-config.json
start-selenium.sh
sftp-config.json
logs/*.html
logs/*
reports/*.png
reports/*.json
reports/*.html
output/
artifacts/jenkins_report/
qa_generation_report.csv
jenkins_test_case_report.csv
processed.html